In [28]:
a="hello world"
b="hello python"
num1 = 10
num2 = -20
num3 = 3.14
num4 = -2.718
print(a + "\t" + b)
print(num1, num2)
print(num3, num4)

hello world	hello python
10 -20
3.14 -2.718

In [29]:
text="Python"
print(text[0]) # 출력:P
print(text[-1]) # 출력 n (뒤에서 첫 번째 문자)

P
n

In [1]:
str3 = """This is
a multi-line
string."""
print(str3)

This is
a multi-line
string.

In [40]:
text = "Python"
print(text[0:3])
print(text[::2])

Pyt
Pto

In [47]:
text = "Python"
print(text[0:6:2]) # start:end:step

Pto

In [73]:
text = "Python is fun"
words = text.split()    # 공백 기준으로 split 분할
print(words)
joined_text = ''.join(words)
print(joined_text)
spaced_text = ' '.join(words)
print(spaced_text)

['Python', 'is', 'fun']
Pythonisfun
Python is fun

In [68]:
name = "Chan"
age = 31
text = (f"My name is {name} and I am {age} years old.") # 포메팅으로 변수를 넣어준다
print(text.count('a'))
print(text.upper())
print(text.lower())

5
MY NAME IS CHAN AND I AM 31 YEARS OLD.
my name is chan and i am 31 years old.

In [2]:
text = " Hello World "
print(text)
print(text.strip())
print(text.lstrip())
print(text.rstrip())    # 공백 때문에 에러가 날 때가 있어서 많이 쓰인다

 Hello World
Hello World
Hello World
 Hello World

In [3]:
print("Hello\nPython")
print("탭을\t사용한\t예시")
print("백슬래시는 이렇게 \\ 출력") # \n 줄바꿈 \t 탭 \\ 백슬래시

Hello
Python
탭을	사용한	예시
백슬래시는 이렇게 \ 출력

In [4]:
a = True
b = False
print(a and b) #False   and: 두 조건이 모두 참일 때 참
print(a or b) #True     or: 둘 중 하나라도 참이면 참
print(not a) #False     not: 조건의 값을 반전시킴

False
True
False

In [11]:
is_authenticated = True
has_permission = False
if is_authenticated and has_permission:
    print("접근 허용")
else:
    print("접근 거부")

접근 거부

In [25]:
empty_list = []
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[0:2])
print(fruits[0:3:2])

apple
['apple', 'banana']
['apple', 'cherry']

In [50]:
numbers = [3,1,4,1,5]
numbers.append(9)   #요소 추가
print(numbers)
numbers.sort()  #요소 정렬
print(numbers)
numbers.remove(1) #첫 번째로 발견되는 1을 제거
print(numbers)
removed_item = numbers.pop(2) #인덱스 2의 요소를 추출하고 삭제
print(numbers)
print(removed_item)
numbers.reverse() #리스트 뒤집기
print(numbers)

numbers2 = [1,1,1,2,3,4,5]
numbers2.reverse()
print(numbers2)
print(numbers2.count(1))

numbers3 = numbers2.copy()  #그냥 copy없이 대입하면 새로운 독립적인 리스트가 되지 않음. numbers2의 변화까지 계속 참조
        #.copy()를 사용하면 독립적인 리스트가 된 채로 numbers3에 대입 되어 numbers2의 추후 변화에 영향을 받지 않는다
print("numbers3: ", numbers3)

numbers3.extend([6,7,8])    #리스트 확장
print(numbers3)
another_list = [10,11,12]
combined_list = numbers3 + another_list
combined_list.sort()
print(combined_list)

[3, 1, 4, 1, 5, 9]
[1, 1, 3, 4, 5, 9]
[1, 3, 4, 5, 9]
[1, 3, 5, 9]
4
[9, 5, 3, 1]
[5, 4, 3, 2, 1, 1, 1]
3
numbers3:  [5, 4, 3, 2, 1, 1, 1]
[5, 4, 3, 2, 1, 1, 1, 6, 7, 8]
[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12]

In [54]:
empty_tuple = ()
single_element = (5,)   #튜플에 단일 요소만 넣으려면 하나만 입력 후 , <-콤마까지 입력 해야 하나만 입력 된다

colors = ("red","green","blue")
print(colors[0])
print(colors[0:2])

red
('red', 'green')

In [67]:
numbers = (1,2,3,2,4)
print(numbers.count(2))
print(numbers.index(4)) #숫자 4가 최초로 등장하는 위치를 찾는 함수

2
4

In [68]:
point = (3,4)
print("x 좌표: ", point[0])
print("y 좌표: ", point[1])

x 좌표:  3
y 좌표:  4

In [77]:
# 키(key)-값(value) 쌍으로 데이터를 저장하는 매핑 타입의 자료형
# 요소 추가, 수정, 삭제가 가능하며, 표기는 중괄호{} 안에 key: value 형태로 값을 저장함
person = {"name": "Bob","age":30,"city":"New York"}
print(person["name"])
# print(person["age"])
person["age"] = 31
print(person["age"])

info = {"name": "Charlie","age":22}
print(info.get("name"))

print(info.keys())

print(info.values())

print(info.items())

Bob
31
Charlie
dict_keys(['name', 'age'])
dict_values(['Charlie', 22])
dict_items([('name', 'Charlie'), ('age', 22)])

In [79]:
score_list = [78,85,91,65,88,72,93,95,77,82]
print(score_list)
high_scores = [score for score in score_list if score >= 85]
print(high_scores)

[78, 85, 91, 65, 88, 72, 93, 95, 77, 82]
[85, 91, 88, 93, 95]

In [95]:
numbers = [15, 28, 73, 44, 56, 91, 10, 82, 63]
print(numbers)
print("문제1:",sum(numbers))
even = [num for num in numbers if num % 2 == 0]
print("문제2:",even)
numbers.reverse()
print("문제3:",numbers)
print("문제4:",max(numbers)-min(numbers))

[15, 28, 73, 44, 56, 91, 10, 82, 63]
문제1: 462
문제2: [28, 44, 56, 10, 82]
문제3: [63, 82, 10, 91, 56, 44, 73, 28, 15]
문제4: 81

In [119]:
student_scores = [("김철수", 85), ("이영희", 92), ("박민수", 78), 
                 ("정지은", 95), ("황동민", 87)]
max_student = max(student_scores,key=lambda x: x[1])
print("문제1:",max_student[0],max_student[1],"점")
avg_student = sum(map(lambda x: x[1], student_scores)) / len(student_scores)
print("문제2:", avg_student)
high_scores = [name for name, score in student_scores if score >= 90]
print("90점 이상 학생:", high_scores)
high_scores2 = [(name, score) for name, score in student_scores if score >= 90]
print("\n90점 이상 학생 이름:")
for student in high_scores2:
    print(student[0])

문제1: 정지은 95 점
문제2: 87.4
90점 이상 학생: ['이영희', '정지은']

90점 이상 학생 이름:
이영희
정지은

In [126]:
j = 1
if j > 1:
    print(True)
elif j < 1:
    print(False)
else:
    print("One")

One

In [142]:
number = 5
if number % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [11]:
name, score =str(input("이름을 입력하세요: ")), int(input("점수를 입력하세요: "))
if score >= 90:
    print(name,":", "A학점")
elif score >= 80:
    print(name,":", "B학점")
elif score >= 70:
    print(name,":", "C학점")
elif score >= 60:
    print(name,":", "D학점")
elif score >100 or score < 0:
    print("점수를 잘못 입력하셨습니다.")
else:
    print(name,":", "F학점")

이찬 : A학점

In [139]:
#기본 for문
numbers = [1,2,3,4,5]
for num in numbers:
    print(num*2)

2
4
6
8
10

In [146]:
# range 와 함께 사용하는 for문
for i in range(1, 6, 2):
    print(f"현재 값: {i}")

현재 값: 1
현재 값: 3
현재 값: 5

In [147]:
#중첩 for문
for i in range (1, 4):
    for j in range(1,3):
        print(f"i:{i},j:{j}")

i:1,j:1
i:1,j:2
i:2,j:1
i:2,j:2
i:3,j:1
i:3,j:2

In [148]:
#enumerate() 와 함께 사용 시
items = ["A", "B", "C"]
for idx, item in enumerate(items):
    print(f"인덱스 {idx}: {item}")

인덱스 0: A
인덱스 1: B
인덱스 2: C

In [149]:
#기본 while 문
count = 0
while count <5:
    print(f"카운트:{count}")
    count +=1

카운트:0
카운트:1
카운트:2
카운트:3
카운트:4

In [ ]:
#무한 루프
while True:
    user_input = input("종료하려면 'exit' 입력")
    if user_input == "exit":
        break

In [2]:
#조건과 else 사용
x = 5
while x > 0:
    print(x)
    x -= 1
else:
    print("반복 종료")

5
4
3
2
1
반복 종료

In [17]:
#break & continue 사용
n = 0
while n < 20:
    n += 1
    if n % 2 == 0:
        continue
    print(n)
    if n == 20:
        break

1
3
5
7
9
11
13
15
17
19